<nav class="nav-extended">
	<div class='container'>
		<div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="fas fa-lg fa-film"></i>MovieBrowser</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html"><i class="fab fa-github"></i></a></li>
        <li><a class="waves-effect waves-light btn red">Sign in<i class="material-icons fas fa-sign-in-alt fa-xs right"></i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#popular">Popular</a></li>
        <li class="tab"><a href="#">Now Playing</a></li>
        <li class="tab"><a href="#">Top Rated</a></li>
        <li class="tab"><a href="#">Upcoming</a></li>
      </ul>
    </div>
	</div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
    <li><a href="#"><i class="fab fa-github"></i></a></li>
    <li><a class="waves-effect waves-light btn red" href="#">Sign in<i class="material-icons fas fa-sign-in-alt fa-xs right"></i></a></li>
  </ul>
