<nav class="nav-extended">
	<div class='container'>
		<div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="fas fa-lg fa-film"></i>MovieBrowser</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/apereira91/project2"><i class="fab fa-github"></i></a></li>
				{{#if isAuthenticated}}
				<li><a href='/logout' class="waves-effect waves-light btn red">Log Out<i class="fas fa-sign-out-alt fa-xs right"></i></a></li>
				{{else}}
        <li><a href='/login' class="waves-effect waves-light btn red">Sign in<i class="fas fa-sign-in-alt fa-xs right"></i></a></li>
				{{/if}}
				<li>
					<div class='row'>
						<form class='api-search'>
							<div class="input-field col s12 m10">
          			<input placeholder="search" type="text" class="search">
							</div>
							<div class='col  s12 m2'>
								<button class="btn waves-effect waves-light red" type="submit" id="search-submit">Submit
              	<i class="material-icons">send</i>
            		</button>
							</div>
						</form>
        	</div>
				</li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a id= "populartab" href="/popular">Popular</a></li>
        <li class="tab"><a id = "playingtab" href="/playing">Now Playing</a></li>
        <li class="tab"><a id = "ratedtab" href="/toprated">Top Rated</a></li>
        <li class="tab"><a id = "upcomingtab" href="/upcoming">Upcoming</a></li>
				{{#if isAuthenticated}}<li class="tab"><a id = "watchlisttab" href="/watchlist">Watchlist</a></li>{{/if}}
      </ul>
    </div>
	</div>
  </nav>
