body {
  background-color: #eee;
  transition: color 1s ease, background-color 1s ease;
}
body.dark {
  background-color: #202123;
  color: #fff;
}
body.dark nav {
  background-color: #26A69A;
}
body.dark .card {
  background-color: rgba(255, 255, 255, 0.2);
}
body.dark .btn {
  background-color: #EE6F73;
}
body.dark .divider {
  opacity: 0.2;
}
body.dark .sidenav {
  background-color: #2D2D31;
}
body.dark .sidenav li a:not(.subheader) {
  color: #89B2F5;
}
body.dark .sidenav li a:not(.subheader):hover {
  background-color: #3B4043;
}
body.dark .sidenav li a.subheader {
  color: #9AA0A6;
}
body.dark .sidenav li a .material-icons {
  color: #9AA0A6;
}
body.dark .collection {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav {
	margin-bottom: 2rem;
}

nav .nav-wrapper i {
  line-height: inherit;
}

li > a {
	font-weight: 500;
}

.rating {
	min-width: 2.5rem;
	background-color: #212529 !important;
	border: 2px solid #28a745;
	color: #ffc107;
	pointer-events: none;
  z-index: 2;
  font-weight: bold;
  text-align: center;
}

.search {
	background-color: white !important;
	border-radius: .25rem !important;
	border: black;
	height: 2.5rem !important;
}

.search-btn {
	margin-left: -50px;
}

.card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  padding: .5rem 1.5rem;
  color: #fff;
  z-index: 1;
}

.card-badge--action {
	background-color: #2196F3;
	height: 2.5rem;
	font-size: smaller;
}

.card-badge--adventure {
	background-color: #4CAF50;
}

.card-action > a {
	font-size: .85rem;
}

.card-action > a > i {
  font-size: .85rem;
}

i.left {
  margin-right: .5rem;
}

.card-title {
  height: 3rem;
  margin-top: .75rem;
}

.card-title p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .5rem;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-between {
	justify-content: space-between;
}



.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center
}

.movie-info {
	position: relative;
}

.movie-info--data {
	width: 100%;
	min-height: 100% !important;
	flex: 1;
  background-color: rgba(0,0,0,.5);
}

.movie-info--description {
	width: 100%;
}

.movie-info--title {
	color: #ffc107;
	font-size: 2.5rem;
}

.movie-info--rating {
	position: absolute;
    top: 7px;
    right: 7px;
    margin: 4px;
    background-color: transparent;
    padding: 8px;
    z-index: 3;
    width: 4rem;
		height: 4rem;
    font-size: 1.25rem;
    border-radius: 50%;
    border: 2px solid #28a745;
}

.movie-info--overview {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 1.25rem;
}

.movie-info--genres {
	margin-bottom: 1.25rem;
}

.movie-info--genres > span{
	margin-right: .75rem;
}

.genre-badge {
	font-weight: 200;
	color: black;
	background-color: #ffc107;
	padding: .25rem;
	border-radius: .25rem;
	margin-right: .25rem;
}

.movie-info--stats {
		background-color: rgba(0, 0, 0, .8);
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: white;
		margin-top: auto;
}

.cast-row {
	background-color: white;
}

.cast-title {
	color: black;
	font-size: 2.5rem;
}

.title-container, .cast-container {
	padding: 0 1rem;
}

.cast-member {
	margin-bottom: 30px;
  margin-right: 30px;
  max-width: 150px;
  text-align: center;
}

.cast-member--img {
	width: 100%;
	vertical-align: middle;
}

.cast-member--info {
	background: rgba(0, 0, 0, .1);
	width: 100%;
	min-height: 50px;
	padding: 10px;
}

.cast-member--name, .cast-member--role {
	color: black;
}

.login, .signup {
  background-color: #d8d8d8;
  border-radius: .25rem;
  padding: 1rem;
}

.login label{;
  color: black;
}
